* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: rgba(0, 0, 0, 0.904);
}

 
h1 {
    text-align: center;
    color: white;
    margin: 10px;
}

button {
    background-color: rgb(192, 64, 64);
    color: whitesmoke;
    font-weight: 200;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid white;
}

.button-container {
    display: flex; 
    align-items: center;
    justify-content: center;
   
}

.button-container > button {
    padding: 15px;
    margin: 20px;
    font-size: 22px;
    border-radius: 5px;
    
}

.button-container > button:hover {
    background-color: rgba(233, 231, 231, 0.938);
    color: red;
    border: 2px solid white;
    
}

body {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 400px;
      
}

.div-row{
    background: rgb(30, 36, 54);
    border: 1px solid rgb(255, 255, 255);
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
     
}

.div-column {
    border: 1px solid rgb(255, 255, 255); 
    padding: 0;
    margin: 0;
    
}

.js-set-div {
    background: rgba(255, 255, 255, 0.308);
}

h1 {
    border-bottom: 2px solid red;
}

.red {
    color: red;
}