* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: rgba(0, 0, 0, 0.904);
}

h1 {
    text-align: center;
    color: white;
    margin: 10px;
}

.button-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    
}

.button-container > button {
    padding: 15px;
    margin: 20px;
    font-size: 22px;
    border-radius: 5px;
    
}

.button-container > button:hover {
    background-color: rgba(255, 255, 255, 0.308);
    color: white;
    border: 2px solid white;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  
     
     
}

.div-row{
    background: rgb(30, 36, 54);
    border: 1px solid rgb(255, 255, 255);
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 560px;
    
}

.div-column {
    border: 1px solid rgb(255, 255, 255); 
    padding: 0;
    margin: 0;
    height: 25px;
    width: 45px;
   
}

 
.js-set-div {
    background: rgba(255, 255, 255, 0.308);
}