* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: rgba(0, 0, 0, 0.904);
}

div{
    background: red;
    border: 2px solid white;
}